<template>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/D4TGd-RJt10"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</template>

<script>
export default {
  name: 'Conheca',
}
</script>
